<h2>Select Databases</h2>

<form method="get" action="/AdminEmployeeStatusReport/Parameter">

<input type="checkbox" name="SelectedDatabases" value="Smart_v4_seba_25Feb2026" /> Smart_v4_seba_25Feb2026
<br>

<input type="checkbox" name="SelectedDatabases" value="Smart_Tools" /> Smart_Tools
<br>

<button type="submit">Next</button>

</form>