<h2>Select Server</h2>

<div>
    <button onclick="selectServer(1)">192.168.26.242</button>
</div>

<script>

function selectServer(id)
{
    window.location = '/AdminEmployeeStatusReport/DatabaseSelection?serverId=' + id;
}

</script>