<h2>Select Database</h2>

<form method="get" action="/AdminEmployeeJobCardReport/Parameter">
    <input type="hidden" name="serverId" value="@Request.QueryString["serverId"]" />

    <div>
        <input type="radio" name="databaseName" value="Smart_v4_seba_25Feb2026" checked="checked" />
        Smart_v4_seba_25Feb2026
    </div>

    <br />
    <button type="submit">Next</button>
</form>