@using Microsoft.Reporting.WebForms
@{
    ViewBag.Title = "Employee Job Card Day Detail Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Employee Job Card Day Detail Report</h2>

@Html.Raw(ViewBag.ReportViewer)