<h2>Select Server</h2>

<div>
    <button type="button" onclick="selectServer(1)">192.168.26.242</button>
</div>

<script>
    function selectServer(id) {
        window.location = '/AdminEmployeeJobCardReport/DatabaseSelection?serverId=' + id;
    }
</script>