<h2>Select Server</h2>

<div>
    <button onclick="selectServer(1)">182.163.112.216</button>
</div>

<script>
    function selectServer(id) {
        window.location = '/AdminEmployeeJobCardReport/DatabaseSelection?serverId=' + id;
    }
</script>